<h1>Pictures</h1>

<% @pictures.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |picture| %>
      <div class="col-md-4">
        <%#= "ここに画像が入る" %>
        <h4><%= link_to picture.description, picture %></h4>
        <%= picture.description %>
      </div>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to 'New Picture', new_picture_path %>
